.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      217deg,
      rgba(23, 23, 29, 0.9),
      rgba(23, 23, 29, 0.9)
    ),
    url("https://hackclub.com/pattern.svg"),
    linear-gradient(217deg, rgba(23, 23, 29, 1), rgba(23, 23, 29, 1));
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a,
.subtitle a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 8rem;
}

.title {
  text-align: center;
}
